<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Securities Application</title>
</head>

<h2>Application Status : {{ application.status }} </h2>

<body>
{% if messages %}
<ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<!--show the missing content form if the status is MISSING_DOCUMENT-->
{% if application.status == "MISSING_DOCUMENTS" %}
<p> Please <a href="{% url 'update_application' %}">click here</a> to update the application form.</p>
{% endif %}

{% if user.is_authenticated %}
    <form method="post" action="{% url 'user_logout' %}" style="display:inline;">{% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% endif %}

</body>
</html>